@page "{id}"
@model task1.Pages.Cities.DeleteModel
@{
}

<h1>Delete city @Model.City.CityId</h1>
<form method="post">
    <button type="submit">Yes</button>
    <a asp-page="/Cities/Cities">No</a>
</form>